body {
  box-sizing: border-box;
  background: linear-gradient(to bottom, #66ccff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#title {
  text-align: center;
  font-size: 5rem;
}

#team {
  text-align: center;
  font-size: 3rem;
}

p {
  text-align: center;
}

#caption_buton {
  height: 30px;
  width: 50px;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  text-align: center;
}

.vid {
  text-align: center;
}
