<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/home.css" type="text/css">
    <title>HAVAS</title>
  </head>
  <body>
    <h1 id="title">Video Streaming Demonstration</h1>
    <h2 id="team">XDSA</h2>
    <br>
    <div class="vid">
        <p><img src="{{ url_for('video_feed') }}"></p>
    </div>
    <br>
    <br>
    <p id = "caption"></p>
    <br>
    <script type=text/javascript>
            $(function() {
              $('a#caption_buton').bind('click', function() {
                $.getJSON('/generate_caption',
                    function(data) {
                      document.getElementById('caption').innerHTML = data.caption;
                });
                return false;
              });
            });
    </script>
    <div class='container'>
      <form>
        <a id=caption_buton><button class='btn btn-default'>Test</button></a>
      </form>
    </div>

  </body>
</html>
